/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@utility hover-link {
  @apply text-gray-700
         inline-block
         relative
         font-medium
         after:block
         after:h-0.5
         after:bg-blue-500
         after:origin-left
         after:scale-x-0
         hover:after:scale-x-100
         after:transition-transform
         after:duration-300;
}
